@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
body {
  @apply bg-gray-50 text-gray-800;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 18s linear infinite;
}
